/*  mobile first */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
}
.container {
    background-color: lightcoral;
    width: 80%;
    height: 90%;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 576px){
    body {
        background-color: aqua;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: lightseagreen;
    }
}
@media screen and (min-width: 992px) {
    body {
        background-color: blue;
    }
}
@media screen and (min-width: 992px) {
    body {
        background-color: blue;
        
    }
    .container {
        max-width: 1200px;
        margin: auto;
    }
}
