/*  mobile first */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
}
.container {
    background-color: lightcoral;
    width: 100%;
    display: flex;
 
}
.sidebar { 
    background-color: gold;
    display: none;
}
.content {
    background-color: silver;
    flex-grow: 1;
}


@media screen and (min-width: 576px){
    body {
        background-color: aqua;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: lightseagreen;
    }
    .sidebar {
        display: block;
        flex-shrink: 0;
    }
}
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #dadbd3 80%, #009688 80%);
        
    }   
    .container {
        background-color: orange;
        width: 80%;
        height: 90%;
        margin: auto;
    }
    .sidebar{
        width: 350px;
    }


}


