/* common */
body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
}
.container {
    background-color: lightcoral;
    width: 100%;
    display: flex;
 
}
.sidebar { 
    background-color: gold;
    display: none;
}
.content {
    background-color: silver;
    flex-grow: 1;
}
header {
    background-color: crimson;
    border: 1px solid black;
    height: 50px;
    flex-shrink: 0;
   
}
.conversation {
    height: calc(100% - 100px);
    overflow-y: auto;
}
footer.message {
    background-color: crimson;
    border: 1px solid black;
    height: 50px;
    flex-shrink: 0;
}

 /* stile */

 /* header */
.img-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
    padding: 5px;
}
.sidebar-icon , .content-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;

}
h3 {
    vertical-align: middle;
    font-size: 20px
}
.sidebar-icon , .content-icon {
    color: gray;
  
}
.dati-avatar{
    margin-top: 5px;
}
/* //header */

/* message */
.conversation li{
    background-color: #d4f9bb;
    padding: 10px;
    margin: 15px 15px 15px 120px;
    border-radius: 10px;
    
}
.conversation li:nth-child(1){
    margin: 30px 15px 15px 120px;
    
}
#your-message{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 15px 120px 15px 15px;
    border-radius: 10px;
    
}
.my-message {
    position: relative;
}
#your-message {
    position: relative;
}
.my-message .fa-chevron-down {
    position: absolute;
    right: 8px;
    color: #bbbcbb;
}
#your-message .fa-chevron-down {
    position: absolute;
    right: 8px;
    color: #bbbcbb;
}
.my-message .hour  {
    text-align: end;
    font-size: 10px;
    color: #bbbcbb;
}
#your-message .hour  {
    text-align: end;
    font-size: 10px;
    color: #bbbcbb;
}
.my-message p , #your-message p  {
    padding: 5px 25px 0 0;
}

/* //message */

